html, body {
    font-family: 'Roboto', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
    width: 75vw;
}

.btn {
    border-radius: 4px;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
    margin: 20px auto;
    transition: background-color 1s;
}

.btn:disabled {
    cursor: not-allowed;
}

.btn:hover {
    opacity: 0.8;
    transition: all 1s ;
}

